<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Babies {% endblock %}</title>
  </head>
  <body>
    {% block content %} {% load static %}
    <h1 class="text-center pt-5 fs-1 text-bold fw-bold text-info">
      Babies Images
    </h1>
    <div class="container">
      <div class="row justify-content-center g-5">
        <div
          class="col-6 text-center border border-info border-top-0 border-start-0 border-end-0 py-3"
        >
          <img src="{% static 'b1.jpg' %}" alt="" width="100%" />
        </div>
        <div
          class="col-6 text-center border border-info border-top-0 border-end-0 py-3"
        >
          <img src="{% static 'b2.jpg' %}" alt="" width="100%" />
        </div>
      </div>
      <div class="row justify-content-center g-5">
        <div
          class="col-6 text-center border border-info border-top-0 border-start-0 border-bottom-0 border-end-0 py-3"
        >
          <img src="{% static 'b3.jpg' %}" alt="" width="100%" />
        </div>
        <div
          class="col-6 text-center border border-info border-top-0 border-end-0 border-bottom-0 py-3"
        >
          <img src="{% static 'b4.jpg' %}" alt="" width="100%" />
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
